Options +FollowSymlinks
#Options All -Indexes
<Files .htaccess>
	Order Allow,Deny
	Deny from all
</Files>
<Files constant.php>
	Order Allow,Deny
	Deny from all
</Files>
RewriteEngine on
RewriteRule ^involve$ index.php
RewriteRule ^res/(img|css|js)/(.*)?$ public/$1/$2
RewriteRule ^res/(.*)?$ public/$1
RewriteRule ^chat-(room|leave|notify)$ index.php?m=common&a=$1
RewriteRule ^message-(\w+)$ index.php?m=message&a=message_$1